################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.txt
*.pdb
*.cache
*.exe
*.resources
*.force
*.manifest
*.suo
/StUtil.Core.Extension.Tests/obj/Debug
/StUtil.Core.Tests/obj/Debug
/StUtil.Data/obj/Debug
/StUtil.Data.Tests/obj/Debug
/StUtil.Dev.Console/obj/Debug
/StUtil.Dev.WinForm/obj/Debug
/StUtil.Native.Injection/x64/Debug
/StUtil.Native.Injection.Helper/obj/Debug
/StUtil.Native.Injection.Helper/obj/x64/Debug
/StUtil.Native.Injection.Helper/obj/x86/Debug
/StUtil.Tasks/obj/Debug
/StUtil.Tools.DependancyGraph/obj/Debug
/StUtil.UI.Automation/obj/Debug
*.sdf
*.opensdf
/StUtil.Native.Injection/Debug
/StUtil.Plugin/obj/Debug
/StUtil.Core/obj/Debug
/StUtil.Native/obj/Debug
/StUtil.Net/obj/Debug
/StUtil.UI/obj/Debug
