################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.txt
*.pdb
*.cache
*.exe
*.resources
*.force
*.manifest
*.suo
*.ipch
*.sdf
*.opensdf
*/obj/*
/*/Debug/*
/StUtil.Native.Bootstrap/bin/*
/StUtil.Native.Bootstrap/x64/Debug
/StUtil.Native.Bootstrapper/bin
/StUtil.Native.Injection/x64/Debug
