################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.txt
*.pdb
*.cache
*.exe
*.resources
*.force
*.manifest
*.suo
*/obj/*
*.sdf
*.opensdf
/StUtil.Native.Injection/Debug/*
/StUtil.Native.Injection/x64/Debug
